---
import Layout from "../layouts/Layout.astro";
import ProductShowcase from "../components/ProductShowcase.astro";
import ImageModal from "../components/ImageModal.astro";
import WaveDivider from "../components/WaveDivider.astro";

import HeroImage from "../images/hero.jpg";
import { Image } from "astro:assets";
---

<Layout>
  <section
    class="w-full xl:h-200 2xl:h-230 flex flex-col md:flex-row items-center justify-center bg-white"
  >
    <div class="flex-1 flex items-center justify-center py-12">
      <h1
        class="xl:text-6xl text-4xl font-pompiere text-gray-900 xl:px-20 text-center xl:text-left"
      >
        Jedes Stück ein Unikat - handgemachte Patchwork-Kreationen von Claudia
        Wild
      </h1>
    </div>
    <div class="flex-1 h-full items-end justify-center hidden xl:flex">
      <Image
        src={HeroImage}
        alt="Handmade quilt"
        class="h-full w-full object-cover"
        loading="eager"
      />
    </div>
  </section>
  <div class="h-20"></div>
  <WaveDivider colorAbove="white" colorBelow="gray" />
  <ProductShowcase
    title="Taschen"
    imageType="Taschen"
    color="gray"
    ctaHref="/bags"
    ctaLabel="Alle Taschen ansehen"
  />
  <WaveDivider colorAbove="gray" colorBelow="white" />
  <ProductShowcase
    title="Rucksäcke"
    imageType="Rucksaecke"
    color="white"
    ctaHref="/backpacks"
    ctaLabel="Alle Rucksäcke ansehen"
  />
  <WaveDivider colorAbove="white" colorBelow="gray" />
  <ProductShowcase
    title="Zwirnknöpfe"
    imageType="Knoepfe"
    color="gray"
    ctaHref="/buttons"
    ctaLabel="Alle Knöpfe ansehen"
  />
  <WaveDivider colorAbove="gray" colorBelow="white" />
  <ProductShowcase
    title="Decken"
    imageType="Decken"
    color="white"
    ctaHref="/blankets"
    ctaLabel="Alle Decken ansehen"
  />
  <WaveDivider colorAbove="white" colorBelow="gray" />
  <ProductShowcase
    title="Verschiedenes"
    imageType="Verschiedenes"
    color="gray"
    ctaHref="/misc"
    ctaLabel="Alle ansehen"
  />
  <ImageModal numOfPictures={3}/>
</Layout>
