---
import Layout from "../layouts/Layout.astro";
import ProductShowcase from "../components/ProductShowcase.astro";
import ImageModal from "../components/ImageModal.astro";
import WaveDivider from "../components/WaveDivider.astro";

import Decke1 from "../images/Decken-Homepage/Decke1.JPG";
import Decke2 from "../images/Decken-Homepage/Decke2.JPG";
import Decke3 from "../images/Decken-Homepage/Decke3.JPG";
import Rucksack1 from "../images/Rucksaecke-Homepage/Rucksack1.JPG";
import Rucksack2 from "../images/Rucksaecke-Homepage/Rucksack2.JPG";
import Rucksack3 from "../images/Rucksaecke-Homepage/Rucksack3.JPG";
import Tasche1 from "../images/Taschen-Homepage/Tasche1.JPG";
import Tasche2 from "../images/Taschen-Homepage/Tasche2.JPG";
import Tasche3 from "../images/Taschen-Homepage/Tasche3.JPG";
import Knopf1 from "../images/Knoepfe-Homepage/Knopf1.JPG";
import Knopf2 from "../images/Knoepfe-Homepage/Knopf2.JPG";
import Knopf3 from "../images/Knoepfe-Homepage/Knopf3.JPG";
import Foto1 from "../images/Verschiedenes-Homepage/Foto1.JPG";
import Foto2 from "../images/Verschiedenes-Homepage/Foto2.JPG";
import Foto3 from "../images/Verschiedenes-Homepage/Foto3.JPG";
import HeroQuilt from "../images/Decken-Homepage/DeckeFront.JPG";
import { Image } from "astro:assets";
---

<Layout>
  <section
    class="w-full h-100 2xl:h-230 flex flex-col md:flex-row items-center justify-center bg-white"
  >
    <div class="flex-1 flex items-center justify-center py-12">
      <h1
        class="xl:text-6xl text-4xl font-pompiere text-gray-900 xl:px-20 text-center xl:text-left"
      >
        Jedes Stück ein Unikat - handgemachte Patchwork-Kreationen von Claudia
        Wild
      </h1>
    </div>
    <div class="flex-1 h-full items-end justify-center hidden xl:flex">
      <Image
        src={HeroQuilt}
        alt="Handmade quilt"
        class="h-full w-full object-cover pt-40"
        loading="eager"
      />
    </div>
  </section>

  <div class="h-20"></div>
  <WaveDivider colorAbove="white" colorBelow="blue" />
  <ProductShowcase
    title="Decken"
    images={[Decke1, Decke2, Decke3]}
    color="blue"
    ctaHref="/decken"
    ctaLabel="Alle Decken ansehen"
  />
  <WaveDivider colorAbove="blue" colorBelow="orange" />
  <ProductShowcase
    title="Rucksäcke"
    images={[Rucksack1, Rucksack2, Rucksack3]}
    color="orange"
    ctaHref="/rucksaecke"
    ctaLabel="Alle Rucksäcke ansehen"
  />
  <WaveDivider colorAbove="orange" colorBelow="blue" />
  <ProductShowcase
    title="Taschen"
    images={[Tasche1, Tasche2, Tasche3]}
    color="blue"
    ctaHref="/taschen"
    ctaLabel="Alle Taschen ansehen"
  />
  <WaveDivider colorAbove="blue" colorBelow="orange" />
  <ProductShowcase
    title="Zwirnknöpfe"
    images={[Knopf1, Knopf2, Knopf3]}
    color="orange"
    ctaHref="/knoepfe"
    ctaLabel="Alle Knöpfe ansehen"
  />
  <WaveDivider colorAbove="orange" colorBelow="blue" />
  <ProductShowcase
    title="Verschiedenes"
    images={[Foto1, Foto2, Foto3]}
    color="blue"
    ctaHref="/verschiedenes"
    ctaLabel="Alle ansehen"
  />
  <ImageModal />
</Layout>
